@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-image: url(/assets/images/assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    margin: 4rem 10%;
    overflow: hidden;
}
.bold{
    font-weight: 700;
}
header{
    display: block;
    height: 48px;
    margin-bottom: 6rem;
}
.logo{
    background-image: url(/assets/images/assets/epicode_logo.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 15%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-bottom: 4rem;
}
#title{
    font-size: 100px;
    font-weight: 400;
    max-width: 50%;
    line-height: 0.75;
    margin-bottom: 4rem;
}
.subtitle{
    color: #d20094;
    font-size: 32px;
    margin-bottom: .5rem;
}
.description{
    font-family: 'Inter', sans-serif;
}
.description p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 4rem;
}
.description .rules li{
    margin-bottom: 4px;
    margin-left: 48px;
    font-size: 20px;
    font-weight: 300;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .checkbox{
    display: flex;
    gap: 16px;
}
.checkbox input{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
    transition: all .2s;
    cursor: pointer;
}
.checkbox input:checked{
    background-color: #00ffff;
    border-radius: 50%;
    border: 2px solid #fff;
}
footer button{
    background-color: #00ffff;
    padding: 1.25rem 4rem;
    font-size: 24px;
    font-weight: 700;
    border: none;
    box-shadow: 0 0 24px #00ffff;
    cursor: pointer;
    
    
}

/* PAGINA TEST STILE */

.griglia{
    display: grid;
    grid-template: 100px 100px / 400px 400px;
    gap: 48px;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
}
#domanda{
    margin-bottom: 48px;
}

.answer {
    border-radius: 50px;
    position: relative;
    background: rgba(255,255,255,.5);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

.answer:after {
    content: '';
    border-radius: 50px;
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px;
    background: linear-gradient(to bottom, rgba(255,255,255,.5), transparent);
    z-index: -1;
}